datasets
deepspeed==0.15.4
qwen_vl_utils==0.0.11
transformers==4.51.3
trl==0.14.0
transformers-stream-generator==0.0.4
fastapi==0.112
accelerate>=0.26.0
av
loguru
omegaconf
jsonlines
opencv-python
matplotlib
scipy
tabulate
tensorboardx
pycocotools
ujson
openai
httpx==0.23.3
vllm==0.7.3
pyarrow==19.0.1
mathruler
pylatexenc
tensordict
codetiming